@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
$open-sans: "Open Sans", sans-serif;

.search-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  .color-pic {
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;

    p {
      padding-top: 0.7rem;
    }
  }
}

.search-lable {
  margin-top: 3rem;
  margin-left: 15%;
}

html,
body {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $open-sans;
}
