// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: "Open Sans", sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 700;
  font-size: 1.8rem;
  //   color: rgba(0, 0, 0, 0.904);
  color: #231f25;
  //   color: white;
  //   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  //   -webkit-text-stroke-width: 0.8px;
  //   -webkit-text-stroke-color: white;
}

.row {
  max-width: 90.6rem;
  margin: 5.6rem auto 0;
}

// Base styles
.card {
  cursor: pointer;
  float: left;
  padding: 0 2.3rem;
  margin-bottom: 3.6rem;
  //   width: 50%;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      // font-size: 1.9rem;
      font-weight: 700;
      font-family: "Open Sans";
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    filter: brightness(90%);
    background-color: $white;
    min-height: 48.6rem;
    width: 36.6rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1.9rem 3.8rem rgba($black, 0.3),
      0 1.5rem 1.2rem rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(7.6rem + 1.6em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 1.6rem;
  }
  .title {
    margin-top: 2rem;
  }
  .text {
    height: 7.6rem;
    margin: 0;
    // color: #000;
  }
  .bg-text {
    // filter: blur(8px);
    // -webkit-filter: blur(8px);

    /* Full height */
    // height: 80px;
    height: 100%;
    width: 100%;

    span {
      z-index: 2;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .menu-content {
    transform: translateY(-60px);
  }
}

// Second example styles
.example-2 {
  .wrapper {
    // background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg)
    //   center / cover no-repeat;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 27.6rem;
    min-width: 48.6rem;

    &:hover {
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: $white;
    padding: 1em;
    .date {
      float: left;
      font-size: 1.4rem;
      // color: #231f25;
      // color: #f1faee;
    }
  }
  .menu-content {
    float: right;
    li {
      margin: 0 1rem;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
  .data {
    color: $white;
    transform: translateY(calc(7.6rem + 4em));
  }
  .title {
    a {
      color: $white;
    }
  }
  .button {
    display: block;
    width: 10rem;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 1.7rem;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: "\2192";
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}
